<!-- index.html -->
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <title>アバター生成</title>
</head>

<body>

    <section>
        <!-- カメラボタン -->
        <button id="cameraButton">カメラを起動</button>
        <!-- 撮影ボタン -->
        <button id="captureButton">撮影</button>
        <!-- 保存ボタン-->
        <button id="saveButton" style="display:none;">生成</button>
        <!-- ビデオ要素 -->
        <video id="cameraStream" width="640" height="480" autoplay style="display:none;"></video>
        <!-- 撮影した画像を表示するための要素 -->
        <img id="yourImageElementId" src="" alt="Generated Image" style="display: none;">
        <img id="capturedImage" style="display:none;">
    </section>


    <script type="module">
        // カメラボタンの要素を取得
        document.addEventListener('DOMContentLoaded', (event) => {
            const cameraButton = document.getElementById('cameraButton');
            const captureButton = document.getElementById('captureButton');
            const saveButton = document.getElementById('saveButton');
            const cameraStream = document.getElementById('cameraStream');
            const capturedImage = document.getElementById('capturedImage');

            // カメラを起動するボタンのイベントリスナー
            cameraButton.addEventListener('click', () => {
                startCamera(); // カメラを起動する関数を呼び出し
                cameraStream.style.display = 'block'; // ビデオ要素を表示
            });

            // 撮影ボタンのイベントリスナー
            captureButton.addEventListener('click', captureImage); // 画像を撮影する関数を呼び出し
        });
        let stream = null;

        // カメラを起動する関数
        const startCamera = () => {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then((mediaStream) => {
                    stream = mediaStream;
                    cameraStream.srcObject = mediaStream;
                    cameraStream.play();
                })
                .catch((error) => {
                    console.error("カメラの起動に失敗しました:", error);
                });
        }


        const captureImage = () => {
            // カメラストリームからの画像をキャンバスに描画
            const canvas = document.createElement('canvas');
            canvas.width = cameraStream.videoWidth;
            canvas.height = cameraStream.videoHeight;
            canvas.getContext('2d').drawImage(cameraStream, 0, 0, canvas.width, canvas.height);

            // キャンバスからの画像をcapturedImageに設定
            capturedImage.src = canvas.toDataURL('image/png');
            capturedImage.style.display = 'block';
            saveButton.style.display = 'block';
        }

        const saveImage = () => {
            // 現在のカメラストリームを取得
            const stream = cameraStream.srcObject;

            // カメラストリームの各トラックを停止
            if (stream) {
                const tracks = stream.getTracks();
                tracks.forEach(track => track.stop());
            }

            // ビデオ要素を非表示に設定
            cameraStream.style.display = 'none';
        }

        document.getElementById('saveButton').addEventListener('click', () => {
            const canvas = document.createElement('canvas');
            const cameraStream = document.getElementById('cameraStream');
            canvas.width = cameraStream.videoWidth;
            canvas.height = cameraStream.videoHeight;
            canvas.getContext('2d').drawImage(cameraStream, 0, 0, canvas.width, canvas.height);

            canvas.toBlob(uploadImageAndSaveData, 'image/png');
        });

        //------------------------------------------
        // ▼firebaseプロジェクトとjavaScriptを連携させる
        //------------------------------------------

        // 必要な機能をSDKからインポート
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.2/firebase-app.js";

        // firebase firestoreとやり取りをする設定
        import {
            getFirestore,
            collection,
            doc,
        } from "https://www.gstatic.com/firebasejs/9.22.2/firebase-firestore.js";

        // firebase storageとやり取りをする設定
        import {
            getStorage,
            ref,
            uploadBytes,
            getDownloadURL,
        } from "https://www.gstatic.com/firebasejs/9.22.2/firebase-storage.js";

        // ウェブアプリのFirebaseの設定
        const firebaseConfig = {
            apiKey: "AIzaSyBs-rcINsUSZe7bD7OeLTrNcXm6-OInABg",
            authDomain: "tvcha-9cae7.firebaseapp.com",
            projectId: "tvcha-9cae7",
            storageBucket: "tvcha-9cae7.appspot.com",
            messagingSenderId: "866848033597",
            appId: "1:866848033597:web:c6887382eb14ee58351354",
        };

        // Firebaseの初期化
        const app = initializeApp(firebaseConfig);

        // FirebaseアプリとCloud Storageの連携を初期化しセットアップする
        const storage = getStorage(app);

        //------------------------------------------
        // ▼画像をアップロードし、APIとやりとりする関数
        //------------------------------------------
        const uploadImageAndSaveData = (imageBlob) => {

            // ビデオ要素を非表示に設定
            cameraStream.style.display = 'none';

            const storageRef = ref(storage, `images/${new Date().getTime()}.png`);

            uploadBytes(storageRef, imageBlob)
                .then(snapshot => getDownloadURL(snapshot.ref))
                .then(downloadURL => {
                    console.log("ダウンロード URL:", downloadURL);

                    // ここでFlaskサーバーにdownloadURLを送信して解析結果を受け取る
                    return fetch('/analyze-image', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ image_url: downloadURL })
                    });
                })
                .then(response => response.json())
                .then(data => {

                    console.log('解析結果:', data);

                    const prompt = `Please create an illustration of a single cheerful person in a sticker style. The background is white. Please do not include any elements other than the person. The character features large eyes, no nose. Keep it simple with bright colors and few bold lines. The body from the chest up is small, which emphasizes the Japanese cartoon look.${data}`;
                    console.log(prompt);
                    // 解析結果を基に新しい画像を生成するリクエストを送信

                    return fetch('/generate-image', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ prompt: prompt })  // 解析結果に基づくプロンプト
                    });
                    console.log("test")

                })
                .then(response => response.json())  // レスポンスをJSONとして解析
                .then(data => {

                    // 生成された画像のパスを取得
                    const imagePath = data.image_path;
                    console.log('画像パス:', data.image_path);

                    // HTML内のimg要素を取得
                    const imageElement = document.getElementById('yourImageElementId');

                    // img要素のsrc属性を更新して画像を表示
                    imageElement.src = '/static/' + imagePath;
                    imageElement.style.display = 'block';

                    // img要素の最大幅を設定してブラウザの幅に収まるようにする
                    imageElement.style.maxWidth = '200px';
                })
                .catch(error => {
                    console.error('エラーが発生しました:', error);
                });
        };



    </script>

</body>

</html>